<!--管理者トップページ(会員一覧)-->


<div class="container">
    <div class="row mb-5">
        <div class="col-lg-1">
            
        </div>
        <div class="col-lg-10">
            <div class="chfont">
                <br>
                <h5>会員一覧</h5><br>
                <table class="table">
                    
                    <thead>
                        <tr>
                            <th>会員ID</th>
                            <th>ユーザー名</th>
                            <th>メールアドレス</th>
                            <th>ステータス</th>
                            <th></th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <%@users.each do |user| %>
                        
                        
                        <tr>
                            <td><%=user.id%></td>
                            <td><%=user.user_name%></td>
                            <td><%=user.email%></td>
                            <td>
                                <%if user.is_deleted=="Invalid"%>退会
                                <%else%>有効
                                <%end%>
                            </td>
                            <td>
                                <div class="withdrawl">
                                    <%= link_to "退会させる", admin_user_withdrawl_path(user.id), method: :patch %>
                                </div>
                            </td>
                            
                        </tr>
                        
                        
                        
                        
                        <%end%>
                        
                    </tbody>
                </table>
            </div>
        </div> 
        <div class="col-lg-1">
          
        </div>
    </div> 
</div> 