<!--映画一覧（管理人）-->

<div class="container">
<div class="row">
<div class="col-lg-2">
  
</div>
<div class="col-lg-10">
<br>
<h4>映画一覧</h4>
<br>
<%=link_to "新規登録",new_admin_movie_path%>

<table class="table">
  
<thead>
   <tr>
      <th>タイトル</th>
      <th>公開日</th>
      <th>ジャンル</th>
   </tr>
</thead>
  
 <tbody>
      <%@movies.each do |movie| %>


        <tr>
            <td><%=link_to movie.title,admin_movie_path(movie)%></td>
            <td><%=movie.release_date%></td>
            <td><%=movie.genre.name%></td>
            
            
        </tr>
        
  
    
   
  <%end%>
      
 </tbody>
 </table>

 </div> 
 </div> 
 </div> 