@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}




.channel-menu {
  position: fixed;
  top: 0;
  @media screen and (max-width: 600px) {
    position: inherit;
    margin-left: 0;
  }
}

.channel-menu_name {
  display: inline-block;
  padding: 0 0.5rem 0 1.5rem;
  color: #555459;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 53px;
  cursor: pointer;
  @media screen and (max-width: 600px) {
    padding-left: 0;
  }
}
.channel_name .prefix {
  margin-right: 8px;
}

.channel-menu_prefix {
  padding-right: 0.5rem;
  font-weight: 500;
}
.channel-menu_date {
  font-weight: bold;
}
.channel-menu h3 {
  float: right;
  padding-right: 0.1rem;
  font-weight: 500;
}
.main {
  display: flex;
}

.content {
  width: 100%;
}
.listings {
  min-height: 100vh;
  color: #ab9ba9;
  min-width: 220px;
  background-color: #4d394b;
  overflow-y: auto;
  
  @media screen and (max-width: 600px) {
    display: none;
    position: absolute;
    &.show {
      display: block;
    }
  }
}

.listings_channels {
  margin: 1rem 0 2rem;
}

.listings_header {
  text-align: left;
  font-size: 0.8rem;
  line-height: 1.25rem;
  margin: 0 1rem 0.1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #ab9ba9;
  width: 165px;
  position: relative;
}

.channel_list {
  padding: 0;
  list-style-type: none;
  text-align: left;
  color: #ab9ba9;
}

.channel {
  height: 24px;
  line-height: 24px;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding-right: 17px;
  color: #ffffff;
  padding-left: 1rem;
  a {
    color: #ddd;
    text-decoration: none;
    width: 100%;
    display: inline-block;
  }
  a:hover {
    color: #eee;
  }
}

.channel.active {
  background: #4c9689;
}


// 一文字間隔を空ける（文字の高さの1/10の大きさ）
.no3 {
  letter-spacing: 0.1em;
}


// 文字を太くする
.font_test {
    font-weight:  bold;
}


// 行間を空ける
.px-num{
    line-height: 25px
}

// フォント（Noto Sans Japanese）
body {
  font-family: 'Work Sans', sans-serif;
}




#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.arrow{
  width:      50px;
  height:     50px;
}

.swiper {
  width: 800px;
  height: 500px;
}

.swiper-slide img {
    width: 800px; 
    height: 500px;
}

:root {
  --swiper-navigation-color: #ffffff;
  --swiper-pagination-color: #ffffff;
}




.main-visual {
  width: 100%; 
  height: 600px; 
  
}

.maintitle {
  height: 400px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800
}


.moviejenre {
   text-align:center;
   padding: 5px ;
}

.movietitle {
   text-align:center;
   padding: 5px 30px 0 0 ;
}

footer {
  width: 100%; /* 横幅いっぱい */
  line-height: 30px;
  text-align: center;
  background-color: #848282;
}

.footer-text {
  color: #fff;
}



// 映画詳細画面

.show-main {
  padding: 70px 0; /* 上下に70px、左右に0pxの内側余白 */
}


.show-content {
  width: 800px;
  display: flex; /* Flexboxの利用 */
  justify-content: center; /* 要素の横並び・中央寄せ */
  margin: 0 auto; /* 要素の中央揃え */
  padding-bottom: 70px;
}

.show-item {
  padding: 10px 50px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 2px #ddd solid;
  display: flex;  //これで映画情報を画像の横に縦方向で並べられるようになる
}

.movie-text {
  padding: 0 0 0 80px;
}


.movie-date {
  font-size: 12px;
  display: inline-block;
  margin: 10px;
}

// お気に入りボタン

.box-favorite a {
  display: block;    //ブロック要素にする
  width: 180px;
  height: 31px;
  font-size: 13px;
  color: #111;
  line-height: 31px;
  text-align: center;
  background: #F4ED44;
  border-radius: 3px;
  border: 1px #a2a6ac solid;
}

.box-favorite a:hover {
  background: #DAD881;
}


.comment-box {
  width: 1100px;
  margin: 0 auto; /* 要素の中央揃え */
  padding-bottom: 10px; /* 上下に70px、左右に10pxの内側余白 */
  border-left: 1px #C0C0C0 solid;
  border-right: 1px #C0C0C0 solid;
  border-bottom: 1px #C0C0C0 solid;
}

.comment-title {
  background-color: #00c7ce;;
  padding: 5px 6px;
  border-left: 5px solid #000;
}


.comment-view {
  padding: 50px 10px;
  border-bottom: 1px dashed #C0C0C0;
}

.comment-form {
  padding: 50px 50px;
}

// コメントするボタン

.comment-do {
  margin-bottom: 50px;
}

.comment-do input[type="submit"] {
  border-style: none;
  width: 100px;
  height: 31px;
  background-color: #DDDDDD;
  border-radius: 3px;
  border: 1px #a88734 solid;
}


// aboutページ

.mainabout {
  padding: 50px 0 0 0 ;
}

.abouttitle {
  padding: 10px 30px;
  border-top: 2px solid #808080;
  border-bottom: 2px solid #808080;
}

.about-content {
  padding: 50px 50px;
}

//ログイン画面用

//ログインの枠

.box {
  width: 350px;
  height: 450px;
  margin: 60px auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
}

.box-inner {
  padding: 20px 26px;
}


//ログイン(タイトル)//

.mainlogin {
  font-weight: 400;
  font-size: 23px;
  line-height: 1.2;
  margin-bottom: 30px;
  padding: 0 0 0 100px ;
  color: #111111;
}

.box-email {
  margin-bottom: 13px;
}

.box-password {
  margin-bottom: 50px;
}

.box-email label, .box-password label {
  font-weight: 700;
  font-size: 13px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.box-email input[type="email"], .box-password input[type="password"] {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}

.column-left {
  float: left;
}



.box-password a {
  font-size: 13px;
}



//ログインボタン//

.box-login {
  margin-bottom: 50px;
}

.box-login input[type="submit"] {
  border-style: none;
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom,#6AD2E5,#58D0E6);    //ボタンの色のグラデーション
  border-radius: 3px;
  border: 1px #a88734 solid;
  color: #ffffff;       //文字を白色にする
}

//ログインボタン押した後の処理

.box-login input[type="submit"]:hover {
  cursor: pointer;
  background: #3B7FE6;    //ボタンにマウスオーバーした後の色
}

.legal-text {
  margin-top: 18px;
  font-size: 12px;
}

.remember {
  font-size: 13px;
  margin-top: 18px;
  padding-left: 3px;
}

.box-newusr p {
  text-align: center;
  font-size: 12px;
  color: #767676;
  margin-bottom: 14px;
}

.box-newusr p span {
  text-decoration: line-through;
  text-decoration-color: #e7e7e7;
}

//アカウント作成ボタン

.box-newusr a {
  display: block;    //ブロック要素にする
  width: 100%;
  height: 31px;
  font-size: 13px;
  color: #111;
  line-height: 31px;
  text-align: center;
  background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
  border-radius: 3px;
  border: 1px #a2a6ac solid;
}

.box-newusr a:hover {
  background: #e7e9ec;
}

//新規登録//


.box2 {
  width: 350px;
  height: 450px;
  margin: 60px auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
}

.box2-inner {
  padding: 20px 26px;
}


//新規登録(タイトル)

.mainnew {
  font-weight: 400;
  font-size: 23px;
  line-height: 1.2;
  margin-bottom: 30px;
  padding: 0 0 0 100px ;
  color: #111111;
}

.box-username {
  margin-bottom: 13px;
}

.box2-email {
  margin-bottom: 13px;
}

.box2-password {
  margin-bottom: 20px;
}



.movie-title a  {
  display: block;    //ブロック要素にする
  color: #111;
  text-align: center;
  background: #ddd;
  padding: 1px 2px;
  border-left: 5px solid #000;
  margin: 10px;
}
