<!--ホラー映画一覧-->

    <div class="container">
        <div class="row mb-5">
            
            
            <h5 class="page-title">ホラー映画</h5>
            <div class="movie-list row ">
                <% @tmdb_movies.each do |movie| %>
                    
                    <div class="card" style="width: 12rem;">
                        <p style="margin: 10px;"><img src="https://image.tmdb.org/t/p/w200/<%= movie['table']['poster_path'] %>" class="card-img-top" alt="..."></p>
                        <div class="card-body">
                            <div class="movie-title"><%=link_to movie['table']['title'],movie_path(movie['table']['id']) %></div>
                            <p style="margin: 10px;"> <%= movie['table']['release_date'] %>公開</p>
                        </div>
                    </div>
                    
                <% end %>
            </div>
            
            <span id="back">
                <a href="">
                <%= image_tag 'up.png', data: {"turbolinks"=>false}, class: "arrow" %>
                </a>
            </span> 
            
            
        </div> 
    </div> 
    
    