<!--概要ページ-->

                <div class="mainabout">
                    <span class="font_test">
                        <br>
                        <h4>サイト概要</h4>
                        <br>
                        <p>このサイトでは様々な映画のレビューを見ることができるレビューサイトです。</p>
                        
                        <p>映画を探したい場合は上のヘッダーにある検索バーから検索してください</p>
                        <p>サイトに登録するとお気に入りに好きな映画を追加したり、その映画にコメントすることができます</p>
                        <br>
                        <font color="#FF0033">
                            ＊一部、検索しても見つからない映画や翻訳、説明文のない映画があります。
                            <br>
                            ＊映画に関係ないコメント、個人情報や他者を不快にさせるコメントをした場合、退会させられる場合があります。
                        </font>
                        <br>
                    </span>    
                </div>
            </div> 
            
            <div class="col-lg-1">
              
            </div>
        </div> 
    </div> 