<!--概要ページ-->

<div class="fav-main">
    
<div class="fav-content">
    <h5 class="page-title"><span>MOVIE REVIEWについて</span></h5>
</div>   

<div class="fav-item">
<p>このサイトでは様々な映画のレビューを見ることができるレビューサイトです。</p>
<p>映画を探したい場合は上のヘッダーにある検索バーから検索してください</p>
<p>サイトに登録するとお気に入りに好きな映画を追加したり、映画にコメントすることができます</p>
<font color="#FF0033">
＊一部、検索しても見つからない映画や翻訳、説明文のない映画があります。
<br>
＊映画に関係ないコメント、個人情報や他者を不快にさせるコメントをした場合、退会させられる場合があります。
</font>
</div>
</div> 