<!--お気に入り画面（ログイン前）-->
<div class="fav-main">
    
<div class="fav-content">
    <h5 class="fav-title"><span>お気に入り</span></h5>
</div>   

<div class="fav-item">
    
    <p>ログインするとこちらのページに気に入った映画を保存することができます</p>
    <p class="fav-link">初めての方はこちら→ <%=link_to "新規登録", new_user_registration_path%></p>
    <p class="fav-link">登録したことがある方→ <%=link_to "ログイン", new_user_session_path%></p>
</div>
</div> 