<!--お気に入り画面（ログイン前）-->
<div class="container">
 <div class="row">
  <div class="col-lg-2">
   
  </div>
  <div class="col-lg-10">
   
   <div class="no3">
    <br>
    <br>
    <h5>お気に入り</h5>
    <br>
    ログインすると気に入った映画を
    こちらのページに保存することができます<br>
    初めての方はこちら→<%=link_to "新規登録", new_user_registration_path%><br>
    登録したことがある方→<%=link_to "ログイン", new_user_session_path%>
   </div>
   
  </div> 
 </div> 
</div> 