<!--映画一覧-->

<div class="fav-main">
    
<div class="fav-content">
    <h5 class="page-title"><span>映画一覧</span></h5>
</div>   

<div class="fav-item">
    <p><a href="/movies">話題の新作映画</a></p>
    <p><a href="/old">人気の高い映画</a></p>
    <p><a href="/action">アクション映画</a></p>
    <p><a href="/drama">ドラマ映画</a></p>
    <p><a href="/comedy">コメディ映画</a></p>
    <p><a href="/romance">ロマンス映画</a></p>
    <p><a href="/thriller">スリラー映画</a></p>
    <p><a href="/horror">ホラー映画</a></p>
    <p><a href="/sf">SF映画</a></p>
    <p><a href="/anime">アニメ映画</a></p>
</div>
</div> 