<!--ログイン成功画面-->
<div class="container">
    <div class="row">
        
        <div class="col-lg-2">
            
        </div>
        
        <div class="col-lg-10">
            
            
            <p><h4>登録ありがとうございます</h4></p>
            
            
            <p>→<%=link_to "公開中、公開予定の新作映画",  movies_path%></p>
            <p>→<%=link_to "DVD,BDで楽しめる名作映画", old_path%></p>
            <p>映画を探す場合は上の検索バーからどうぞ</p>
            
        </div> 
        
    </div> 
</div> 