<!--会員トップページ-->

  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-1">
        
      </div>
      <div class="col-lg-10">
        <%= flash[:notice] %>
        <br>
        <h3 class="maintitle">MOVIE REVIEW</h3>
        
        <div class="movie-list row ">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="/assets/anime.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="images/anime.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="img/nature-3.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="img/nature-4.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="img/nature-5.jpg" alt="">
              </div>
            </div>
            <!-- ページネーションの要素 -->
            <div class="swiper-pagination"></div>
            <!-- ナビゲーションボタン （前、次） -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
         
        </div>
        
      </div> 
      <div class="col-lg-1">
        
      </div>
    </div> 
  </div> 
  