<!--会員トップページ-->

  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-1">
        
      </div>
      <div class="col-lg-10">
        <%= flash[:notice] %>
        <br>
        <h3 class="maintitle">MOVIE REVIEW</h3>
        
        <div class="movie-list row ">
          <div class="swiper">
          <div class="swiper-wrapper">
          <div class="swiper-slide">
          <img src="/assets/movie.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="/assets/movie2.jpg" alt="">
          </div>
          <div class="swiper-slide">
          <img src="/assets/action.jpg" alt="">
          </div>
          <div class="swiper-slide">
          <img src="/assets/drama.jpg" alt="">
          </div>
          <div class="swiper-slide">
          <img src="/assets/comedy.jpg" alt="">
          </div>
          
          <div class="swiper-slide">
          <img src="/assets/romance.jpg" alt="">
          </div>
          
          <div class="swiper-slide">
          <img src="/assets/thriller.jpg" alt="">
          </div>
          
          <div class="swiper-slide">
          <img src="/assets/horror.jpg" alt="">
          </div>
          
          <div class="swiper-slide">
          <img src="/assets/sf.jpg" alt="">
          </div>
          
          <div class="swiper-slide">
          <img src="/assets/anime.jpg" alt="">
          </div>
          
          </div>
          <!-- ページネーションの要素 -->
          <div class="swiper-pagination"></div>
          <!-- ナビゲーションボタン （前、次） -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          </div>
        </div>
        
      </div> 
      <div class="col-lg-1">
        
      </div>
    </div> 
  </div> 
   <script src="script.js"></script>