<!--会員トップページ-->

  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-1">
        
      </div>
      <div class="col-lg-10">
        <%= flash[:notice] %>
        <br>
        <h1 class="maintitle">MOVIE REVIEW</h1>
        
        <div class="movie-list row ">
          <div class="swiper">
          <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="moviejenre">話題の新作映画はこちら</div>
          <a href="/movies"><img src="/assets/movie.jpg" alt=""></a>
          </div>
          <div class="swiper-slide">
            <div class="moviejenre">人気の高い映画はこちら</div>
            <a href="/old"><img src="/assets/movie2.jpg" alt=""></a>
          </div>
          <div class="swiper-slide">
            <div class="moviejenre">アクション映画</div>
          <a href="/action"><img src="/assets/action.jpg" alt=""></a>
          </div>
          <div class="swiper-slide">
            <div class="moviejenre">ドラマ映画</div>
          <a href="/drama"><img src="/assets/drama.jpg" alt=""></a>
          </div>
          <div class="swiper-slide">
            <div class="moviejenre">コメディ映画</div>
            <div class="moviejenre"></div>
          <a href="/comedy"><img src="/assets/comedy.jpg" alt=""></a>
          </div>
          
          <div class="swiper-slide">
            <div class="moviejenre">ロマンス映画</div>
          <a href="/romance"><img src="/assets/romance.jpg" alt=""></a>
          </div>
          
          <div class="swiper-slide">
            <div class="moviejenre">スリラー映画</div>
          <a href="/thriller"><img src="/assets/thriller.jpg" alt=""></a>
          </div>
          
          <div class="swiper-slide">
            <div class="moviejenre">ホラー映画</div>
          <a href="/horror"><img src="/assets/horror.jpg" alt=""></a>
          </div>
          
          <div class="swiper-slide">
            <div class="moviejenre">SF映画</div>
         <a href="/sf"> <img src="/assets/sf.jpg" alt=""></a>
          </div>
          
          <div class="swiper-slide">
            <div class="moviejenre">アニメ映画</div>
          <a href="/anime"><img src="/assets/anime.jpg" alt=""></a>
          </div>
          
          </div>
          <!-- ページネーションの要素 -->
          <div class="swiper-pagination"></div>
          <!-- ナビゲーションボタン （前、次） -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          </div>
        </div>
        
        
        
      </div> 
      <div class="col-lg-1">
        
      </div>
    </div> 
  </div> 
   <script src="script.js"></script>